.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: white;
    color: #050f0b;
  }

  button:hover {
    background-color: #5000ca;
    color: white;
  }
}

/* REMOVE the global label styling */
/*
label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}
*/

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}

/* Proper MUI styling */
.MuiInputBase-root {
  background-color: white;
}

.MuiInputLabel-root {
  font-size: 1rem !important;
  color: gray !important;
}

/* When focused (label moves up) */
.MuiInputLabel-root.Mui-focused {
  color: red !important;
  font-size:20px !important;
}

/* Optional: when field has value */
.MuiInputLabel-root.MuiFormLabel-filled {
  color: #5000ca !important;
}